.my-items {
  padding: 7.2rem 0;
}

.my-items .heading {
  margin-bottom: 6.4rem;
  text-align: center;
}
.my-items .heading h2::after {
  display: none;
}

.my-inventory-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4.8rem;
}

.my-items-inner {
  padding: 0 6.4rem;
}

.inventory-empty-message {
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .my-inventory-items {
    display: grid;
    grid-gap: 2.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  .my-items-inner {
    padding: 0 1.8rem;
  }
}

@media only screen and (max-width: 700px) {
  .my-items {
    padding-bottom: 3.2rem;
  }
  .my-inventory-items {
    grid-template-columns: 1fr;
    grid-gap: 3.2rem;
  }
}
