.inventory-item {
  background-color: var(--color-primary-light);
  padding: 2.2rem;

  display: grid;
  grid-template-columns: 50fr 50fr;
  grid-gap: 2rem;
}

.inventory-img {
  /* background-image: url(../../images//inventory-items/badminton.jpg); */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.inventory-img img {
  width: 100%;

  border: 2px solid var(--color-secondary);
}

.inventory-desc {
  font-size: 1.5rem;
  line-height: 1.4;
  position: absolute;
  background-color: rgba(10, 25, 47, 0.9);
  bottom: -16px;
  padding: 1.2rem;
  color: var(--color-slate-lightest);

  transform: translateY(150px);
  transition: 300ms;
}

.inventory-item:hover .inventory-desc {
  transform: translateY(0);
}
/* .inventory-item:hover .inventory-img {
  overflow: visible;
} */

.inventory-content h3 {
  background-color: var(--color-primary);
  text-align: center;
  padding: 1.6rem 1rem;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
}

.inventory-content div {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.inventory-content .inventory-icon {
  color: var(--color-secondary);
  font-size: 1.8rem;
}

.inventory-item button {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 1.6rem;
}
