/*
=======================
 01 TYPOGRAPGY SYSTEM
=======================
- Font Size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weight
Default: 400
Medium: 500 
Semi Medium; 600 
Bold: 700

- Line Heights
Default: 1
Small: 1.05
Paragraph Default: 1.6
paragraph large: 1.8
Medium: 1.2

- Letter Spacing
-0.5px
0.75px

==================
02 COLORS SYSTEM
==================
- Primary : #0a192f;
- Tints   : #112240, #233554
- Shades  : 
- Accents : #64ffda
- Slates  : #ccd6f6 (heading), #a8b2d1 (paragraph)

==================
03 SPACING SYSTEM
==================
- White Space Size (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 120

============
04 SHADOWS
============
box-shadow 1: 0 2rem 3rem -1.5rem rgb(17, 34, 64);

================== 
05 BPRDER RADIUS
==================
Default: 9px
Medium: 11px
*/
/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0a192f;
  --color-primary-light: #112240;
  --color-primary-lightest: #233554;
  --color-secondary: #64ffda;
  --color-secondary-light: rgba(100, 255, 219, 0.13);
  --color-slate-light: #a8b2d1;
  --color-slate-lightest: #ccd6f6;
  --box-shadow: 0 2rem 3rem -1.5rem rgb(17, 34, 64);

  --toastify-color-light: #112240;
  --toastify-color-progress-light: #64ffda;
}

html {
  font-size: 62.5%;
}

.Toastify__toast-body {
  font-size: 1.6rem !important;
  color: #64ffda;
  line-height: 1.4;
}
.Toastify__close-button {
  color: #64ffda;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-slate-light);
  background-color: var(--color-primary);
}

strong {
  font-weight: 500;
}

/* *:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem rgba(100, 255, 219, 0.493) !important;
} */

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-slate-lightest);
  font-weight: 500;
}

p {
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 3.6rem;
  position: relative;
  display: inline-block;
}

h2::after {
  content: "";
  width: 20rem;
  height: 1px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 21px;
  right: -215px;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}
