.banner {
  min-height: calc(100vh - 9rem);
  background-image: linear-gradient(
      rgba(10, 25, 47, 0.97),
      rgba(10, 25, 47, 0.97)
    ),
    url("../../images/banner/sebg2.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-inner {
  display: grid;
  grid-template-columns: 65fr 35fr;
  gap: 3.2rem;
  align-items: center;
}

.inner-content-right {
  justify-self: center;
}

.inner-content-right div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.inner-content-right div span {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.8rem;
  color: var(--color-slate-lightest);
}

.inner-content-right div span .icon {
  color: var(--color-secondary);
}

.banner p {
  font-size: 1.6rem;
  color: var(--color-slate-light);
  margin-bottom: 1.2rem;
}

.banner h1 {
  font-size: 6.2rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-slate-lightest);
  text-transform: none;
  letter-spacing: 0.05px;
  text-transform: capitalize;
}

.banner h1 span {
  color: var(--color-secondary);
}

.banner .banner-text {
  color: var(--color-slate-light);
}

.banner button {
  margin-top: 3.6rem;
}

@media only screen and (max-width: 1200px) {
  .banner h1 {
    font-size: 5.2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .banner h1 {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .banner-inner {
    grid-template-columns: 1fr;
    padding: 4.8rem 3.2rem !important;
    justify-items: start;
  }

  .inner-content-right {
    justify-self: start;
  }

  .inner-content-right div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
    font-size: 1.6rem;

    padding: 4.8rem 0;
  }

  .inner-content-right div span {
    align-items: start;
  }
}

@media only screen and (max-width: 700px) {
  .inner-content-right div {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  .inner-content-right div span {
    align-items: start;
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 600px) {
  .banner h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-slate-lightest);
    text-transform: none;
    letter-spacing: 0.05px;
    text-transform: capitalize;
  }
  .inner-content-right div {
    grid-template-columns: 1fr;
    padding: 2.4rem 0;
  }
}
